body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup{
  /* border: 1px solid green; */
  padding: 1px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  
}

.parent{
  margin-top: 10%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn{
  color: white;
  background-color: blue;
  border: none;
  border-radius: 2px;
}

